* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Poppins', sans-serif;
  background: #000000;
  color: #ffffff;
  width: 100%;
}

.container{
  padding: 20px;
}

form{
  display: flex;
  gap: 20px;
  input{
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  button{
    padding: 10px;
    border-radius: 8px;

  }
}

.notes-card{
  min-height: 150px;
  width: 250px;
  background-color: rgb(255, 231, 227);
  color: black;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 20px; */
 

  .update{
    background-color: rgb(157, 247, 139);
  }
    button{
      width: fit-content;
      padding: 5px 10px;
      border: none;
      border-radius: 2px;
      background-color: rgb(243, 88, 88);
      font-weight: bold;
    }


}

.notes-cont{
  width: 100%;
  /* background-color: bisque; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* flex-direction:column; */
}

.btn-cont{
  display: flex;
  justify-content: space-between;
}

.update-from{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  form{
     padding: 20px;
    flex-direction: column;
     background-color: #dd1f1f; 
     width: 250px;
     align-items: center;
     border-radius: 8px;
     gap: 20px;
    div{
      display: flex;
      gap: 20px;
      flex-direction: column;
     width: fit-content;
    }
    button{
      padding: 8px 15px;
      border: none;
      /* margin-bottom: 1rem; */
    }
  }
}